footer {
    background-color: darksalmon;
    text-align: center;
}
header {
    background-color: chocolate;
    text-align: center;
}
section {
    background-color: crimson;
    text-align: center;
}

ol {
    list-style-type: upper-roman;
}

ul {
    list-style-type: circle;
}

#spisok2 {
    color: green;
    list-style-image: url(https://avatars.mds.yandex.net/i?id=852f85b31f2076273601abe2557d5ada63abee92-7998976-images-thumbs&n=13);
}

ol li ol {
    color:red;
    list-style-type: decimal;

}
#vesna {
    color: green;
}

#zima {
    color: skyblue;
}

#osen {
    color: orange;
}

#leto {
   color: yellow;
}